<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nginx</title>
</head>
<body>
  <h1>This is server "{{ server_name | upper }}"!</h1>
  <small>Deployed at: {{ '%Y-%m-%d, %H:%M:%S' | strftime }}</small>
</body>
</html>
